.hero::before { /* Hero image code adapted from: https://love2dev.com/blog/responsive-hero-background-opacity/ */
    background-image: url(../front_end/img/bg_img.jpg); 
    background-size: cover; 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -2; 
    opacity: 0.4; 

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

.hero::after { 
    background-color: white; 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    opacity: 0.4; 
}

#nav-img {
    width: 15%;
    height: 40%;
}